<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
</head>
<body>
    <div>
        <a href="/">Techla Blog</a>
        <!-- <p><%= description %></p> Dynamic description -->
    </div>
    <%- include('./partials/nav.ejs') %>
    <div>
        <h2> Ooops ..... </h2>
        <p> 404 page not available </p>
        
        <p> <%= description %> </p>
    </div>

</body>
</html>